* {
    padding: 0px;
    margin: 0px;
}
body {
    margin: 50px auto;
    width: 900px;
    font: 16px Tahoma;
    line-height: 1.3;
    text-align:center;
}
h1{
    color:#42ADAF;
    margin-bottom:50px;
    font-size:50px;

}
h2{
    color:#004000;
    padding-top:50px;
    margin-bottom:50px;
}
.btn-primary{
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width:350px;
    height:70px;
    text-align: center;


}
.btn-primary-blue{
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
    background-color: #42A5C6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width:350px;
    height:70px;
    text-align: center;

}
.btn-primary:hover {
    background-color: #257A48;
}
.btn-primary-blue:hover {
    background-color: #19667F;
    padding-left:20px;
}

.two-button{
    float:right;
    text-align: center;
    margin-right:120px;
}
.copyrights{
    margin-top:150px;
}
a {
    text-decoration: none;
    color: #42ADAF;
    text-align: center;
}
.form-field{
    width:350px;
    height:70px;
    font-size:22px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom:5px;

}
.left-side{
    position: relative;
    right:100px;
}
